:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #F5CB5C;
  --secondary-color: #FFFAEB;
  --text-color: #333533;
  --accent-color: #E8871E;
  --white: #FFFFFF;
  --background-color-light: #F9F9F9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Базовые стили для HTML и скролла */
html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: var(--background-color-light); /* Фиксированный цвет фона */
}

/* Стили для скрытия скролла во время загрузки */
html.loading::-webkit-scrollbar {
  display: none; /* Скрываем скролл в Chrome и Safari во время загрузки */
}

html.loading {
  scrollbar-width: none; /* Скрываем скролл в Firefox во время загрузки */
}

body {
  color: var(--text-color);
  background: var(--background-color-light); /* Фиксированный цвет фона */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.3s ease;
  margin: 0;
  padding: 0;
}

/* Скрываем весь контент, кроме лоадера, при загрузке */
body.loading main,
body.loading header,
body.loading footer {
  opacity: 0;
}

/* Специальные стили для отображения лоадера сразу */
body.loading .loader-container {
  opacity: 1 !important;
  z-index: 9999 !important;
  visibility: visible !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section {
  padding: 5rem 0;
}

@media (max-width: 768px) {
  .section {
    padding: 3rem 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
